* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {	margin: 0; padding: 0; position: relative; text-decoration: none; }


.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/*side by side content*/
.half-container {
	width:900px;
	margin:0 auto 0 30px;
	background: rgb(255, 255, 255);
	padding: 30px 0px;
	border-right: 6px solid #d6d6d6; 
	border-left: 6px solid #d6d6d6;
}

.text-container{
	width: 900px;
	padding: 0px 90px;
}

body{
	background: rgba(83, 83, 83, 0.3);
	z-index: -10;
}

/*banner image content*/
/*.banner-image{
	background: url('img/food.jpg') no-repeat center;
	height: 400px;
	margin: 40px 0px;
	position: relative;
}

.banner-image-colors{
	background: url('img/food.jpg') no-repeat;
	height: 140px;
	margin: 70px 0px;
	position: relative;
}*/


/*.text-overlay{
	padding: 20px 20px;
	margin: 32px 0;
	display: inline-block;
	background: url('img/food.jpg') no-repeat fixed;
}*/

/*colors*/

/*half color rgbas
red = rgba(163, 58, 70, 0.5)
yellow = rgba(221, 198, 131, 0.5)
grey = rgba(83, 83, 83, 0.5)
green = rgba(32, 79, 90, 0.5)
background-color: rgba( 255, 225, 225, 0.5)*/

.wine-bg {
	background-color: #a33a46;
}
.wine {
	color: #a33a46;
}

.forest-bg {
	background-color: #06495B;
}
.forest {
	color: #06495B;
}

.gravel-bg {
	background-color: #565354;
}
.gravel {
	color: #565354;
}

.pale-gravel-bg {
	background-color: #d6d6d6;
}
.pale-gravel {
	color: #d6d6d6;
}

.pale-wine-bg {
	background-color: #ffe1e1;
}
.pale-wine {
	color: #ffe1e1;
}

.pale-gold-bg {
	background-color: #ddc683;
}
.pale-gold {
	color: #ddc683;
}

/*headings*/


h1 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 100px;
  font-weight: 300;
  color: #06495B;
  /*text-shadow: -1px 1px 14px rgba(83, 83, 83, 0.5);
*/ }

h2 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 70px;
  font-weight: 300;
  color: rgba( 83, 83, 83, 0.9);
  /*text-shadow: 0px 1px 2px rgba(83, 83, 83, 0.3);
*/ }

h3 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: .02em;
  color: rgba( 83, 83, 83, 0.7);
 }

 h4 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba( 83, 83, 83, 0.5);
 }

 h5 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 30px;
  font-weight: 300;
  color: rgba( 83, 83, 83, 0.4);
}

p {
  font-family: "rooney-sans",sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #565354;
  line-height: 1.5em;
  letter-spacing: .01em;
 }

 p.swatch-text {
  font-family: "rooney-sans",sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: #565354;
  margin-top: 48px;
 }

span {
  font-family: "rooney-sans",sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #a33a46;
  line-height: 1.5em;
 }

 li {
  font-family: "rooney-sans",sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #565354;
  line-height: 1.5em;
 }

 a {
	color: #a33a46;
	border-bottom: 1px dashed #a33a46;
	-webkit-transition: all 0.2s ease;
	-moz-transition:all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: #565354;
	background: #ffe1e1;
	border-bottom: 1px dashed #565354;
}

a:active {
	color: #06495B;
	background: #d6d6d6;
	border-bottom:none;
	-webkit-transition: none;
	-moz-transition:none;
	-o-transition: none;
	transition:none;
}

 .done{
 	text-decoration: line-through;
 }

/* line decoration*/
.line{
	height: 3px;
	width: 600px;
	margin: 50px auto;
	background-color: #efefef;
	border-radius: 100%; 
}


/*Sections*/

.color-section{
	width: 900px;
	padding: 30px 100px;
}

.button-section{
	width: 900px;
	padding: 30px 215px;
}

.input-section{
	width: 300px;
	margin: 30px auto;
}

/*color swatches*/

.color-example{
	width: 98px;
	height: 45px;
	display:inline-block; 
	margin: 10px 7px 19px;
	border-radius: 2px;
	color: white;
	border-bottom: 5px solid #cec8c9;
}

.image-bg{
	background: url('img/food.jpg') repeat-y fixed;
	width: 98px;
	height: 45px;
	display:inline-block; 
	margin: 10px 7px -23px;
	border-radius: 2px;
	border-bottom: 5px solid #cec8c9;
}

.color-example-half{
	width: 98px;
	height: 40px;
	display:inline-block; 
	margin: -115px 7px 0px;
	border-radius: 2px;
	opacity: .5;
	
}

/*button section*/

.button {
	border: none;
	padding: 12px 34px;
	font-size: 16px;
	color: #565354;
	background:  #ffe1e1 url('img/food.png') fixed center;
	font-family: "freight-sans-pro",sans-serif;
	border-radius: 2px;
	margin: 10px 7px;
	border-bottom: 4px solid #d6d6d6;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button.main {
	padding: 22px 54px;
	font-size: 20px;
	background: #a33a46 url('img/food.png') fixed center;
	color: white;
	margin-left: 7px;
	margin-right: 7px;
}

.button.simple {
	font-size: 14px;
	background: #ffe1e1;
	padding: 6px 22px;
}

.button.inactive, .button.simple.inactive,.button.simple.inactive:hover,.button.inactive:hover  {
	background:  rgba(5, 3, 3, 0.08);
	color: rgba( 83, 83, 83, 0.3);
	box-shadow: inset 0 0 0 1px #d6d6d6;
	cursor: not-allowed;
}

.button:hover {
	background: #1D3849 url('img/food.png') fixed center; 
	color: white;
}

.button.simple:hover {
	background: rgba(6, 73, 91, .8); 
	color: white;
}

.button:active {
	background: #ddc683;
	border-bottom: 0px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition:  none;
}

.button.simple:active {
	background: #ddc683;
	border-bottom: 0px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition:  none;
}

/*input-section*/

input[type="text"] {
	background:  white;
	padding: 12px 20px;
	font-family: "rooney-sans",sans-serif;
	margin: 10px 20px;
	color:  #06495B;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid #d6d6d6;
	border-bottom: 4px solid #d6d6d6;
	box-shadow: inset 0 0 7px #ffe1e1;
}
input[type="text"]::-webkit-input-placeholder {
	color:  rgba( 83, 83, 83, 0.5);
	font-family: "rooney-sans",sans-serif;
	font-size: 14px;
}

input[type="text"]:focus{
	box-shadow: 0 0 14px 0 #ddc683;
	outline:none;
}

input[type="text"].error {
	background: #ffe1e1;
	color: #d6d6d6;
	border: 1px solid #d6d6d6;
	border-bottom: 4px solid #d6d6d6;
	box-shadow: none;
}
input[type="text"].error:focus {
	box-shadow: 0 0 12px #ddc683;
	outline:none;
}
input[type="text"].disabled {
	background: rgba(5, 3, 3, 0.08);
	cursor: not-allowed;

}

/*.button.inactive,.button.inactive:hover  {
	background:  rgba(5, 3, 3, 0.08);
	color: white;
	box-shadow: inset 0 0 3px 1px #d6d6d6;
	cursor: not-allowed;
}*/






/*.box{
	background: url('img/food.jpg') no-repeat top left;
	width: 200px;
	height: 200px;
	position: relative;
	margin:200px;
}

.box:after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(163, 58, 70, 0.5);
}*/



