* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {	margin: 0; padding: 0; position: relative; text-decoration: none; }


.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/*side by side content*/
.half-container {
	width:900px;
	margin:0 auto 0 0;
	display:inline-block;
	background: rgb(255, 255, 255);
	padding: 30px 0px;
	border-right: 9px solid #d6d6d6; 
}

.text-container{
	width: 900px;
	padding: 0px 90px;
}

body{
	background: url('img/food-grey.jpg') repeat-x fixed;
	z-index: -10;
}

/*banner image content*/
/*.banner-image{
	background: url('img/food.jpg') no-repeat center;
	height: 400px;
	margin: 40px 0px;
	position: relative;
}

.banner-image-colors{
	background: url('img/food.jpg') no-repeat;
	height: 140px;
	margin: 70px 0px;
	position: relative;
}*/


/*.text-overlay{
	padding: 20px 20px;
	margin: 32px 0;
	display: inline-block;
	background: url('img/food.jpg') no-repeat fixed;
}*/

/*colors*/

/*half color rgbas
red = rgba(163, 58, 70, 0.5)
yellow = rgba(221, 198, 131, 0.5)
grey = rgba(83, 83, 83, 0.5)
green = rgba(32, 79, 90, 0.5)
background-color: rgba( 255, 225, 225, 0.5)*/

.wine-bg {
	background-color: #a33a46;
}
.wine {
	color: #a33a46;
}

.forest-bg {
	background-color: #3d4f2f;
}
.forest {
	color: #3d4f2f;
}

.gravel-bg {
	background-color: #565354;
}
.gravel {
	color: #565354;
}

.pale-gravel-bg {
	background-color: #d6d6d6;
}
.pale-gravel {
	color: #d6d6d6;
}

.pale-wine-bg {
	background-color: #ffe1e1;
}
.pale-wine {
	color: #ffe1e1;
}

.pale-gold-bg {
	background-color: #ddc683;
}
.pale-gold {
	color: #ddc683;
}

/*headings*/


h1 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 85px;
  font-weight: 300;
  color: #3d4f2f;
  /*text-shadow: -1px 1px 14px rgba(83, 83, 83, 0.5);
*/ }

h2 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 65px;
  letter-spacing: .03em;
  font-weight: 300;
  color: #565354;
  /*text-shadow: 0px 1px 2px rgba(83, 83, 83, 0.3);
*/ }

h3 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: .02em;
  color: #3d4f2f;
 }

 h4 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 40px;
  font-weight: 400;
  color: #565354;
 }

 h5 {
  font-family: "goudy-bookletter-1911",serif;
  font-size: 30px;
  font-weight: 300;
  color: #3d4f2f;
}

p {
  font-family: "rooney-sans",sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #565354;
  line-height: 1.5em;
  letter-spacing: .01em;
 }

 p.swatch-text {
  font-family: "rooney-sans",sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: #565354;
  margin-top: 48px;
 }

span {
  font-family: "rooney-sans",sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #a33a46;
  line-height: 1.5em;
 }

 li {
  font-family: "rooney-sans",sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #565354;
  line-height: 1.5em;
 }

 .done{
 	text-decoration: line-through;
 }

/* line decoration*/
.line{
	height: 3px;
	width: 600px;
	margin: 50px auto;
	background-color: #efefef;
	border-radius: 100%; 
}


/*color swatches*/

.color-section{
	width: 900px;
	padding: 30px 100px;
}

.color-example{
	width: 98px;
	height: 45px;
	display:inline-block; 
	margin: 10px 7px 19px;
	border-radius: 2px;
	color: white;
	border-bottom: 5px solid #cec8c9;
}

.image-bg{
	background: url('img/food.jpg') no-repeat fixed;
	width: 98px;
	height: 45px;
	display:inline-block; 
	margin: 10px 7px -23px;
	border-radius: 2px;
	border-bottom: 5px solid #cec8c9;
}

.color-example-half{
	width: 98px;
	height: 40px;
	display:inline-block; 
	margin: -115px 7px 0px;
	border-radius: 2px;
	opacity: .5;
	
}




